.breadcrumbs {
	margin: 0 0 1rem;

	&__menu {
		display: flex;

		&__menu-item:not(:last-child)::after {
			content: "•";
			margin: 0 0.5rem;
			color: var(--clr-neutral-green);
		}

		&__menu-item.current-page {
			color: var(--clr-neutral-green);
			font-weight: var(--fw-bold);
		}

		a {
			color: var(--clr-neutral-green);
			font-weight: var(--fw-bold);

			&:hover {
				color: var(--clr-primary);
			}
		}
	}
}
