@use "../utils/variables";
@use "../utils/breakpoints";

// /* helper files */
@use "helpers/containers";
@use "helpers/grid";
@use "helpers/flex";
@use "helpers/gap";
@use "helpers/alignment";
@use "helpers/position";

.list-reset {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

.visually-hidden {
	position: absolute !important;
	height: 1px;
	width: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

.z-index-1 {
	z-index: 1;
}

.margin-inline-center {
	margin-inline: auto;
}

.cover-image-wrap {
	position: relative;
	overflow: hidden;

	&::after {
		content: "";
		display: block;
	}

	img {
		position: absolute;
		left: 50%;
		top: 50%;
		transform: translate(-50%, -50%);
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}

.object-fit-cover {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 100%;
	height: 100%;
	object-fit: cover;
}

$margin-bottom: (
	sm: 0.2rem,
	md: 0.5rem,
	lg: 0.75rem,
	xl: 1rem,
	xxl: 1.5rem,
	0: 0,
);

.margin-0 {
	margin: 0;
}

.full-bleed {
	clip-path: inset(0 -100vmax);

	&--primary {
		background-color: var(--clr-primary);
		box-shadow: 0 0 0 100vmax var(--clr-primary);
	}

	&--secondary {
		background-color: var(--clr-secondary);
		box-shadow: 0 0 0 100vmax var(--clr-secondary);
	}

	&--black {
		background-color: var(--clr-black);
		box-shadow: 0 0 0 100vmax var(--clr-secondary);
	}
}

@each $m, $value in $margin-bottom {
	.margin-bottom-#{$m} {
		margin: $value;
	}
}

@each $name, $color in variables.$theme-colors {
	.text-color-#{$name} {
		color: #{$color};
	}

	.background-color-#{$name} {
		background-color: #{$color};

		&.full-width {
			box-shadow: 0 0 0 100vmax #{$color};
			clip-path: inset(0 -100vmax);
		}
	}
}

@each $name, $size in variables.$font-sizes {
	.fs-#{$name} {
		font-size: #{$size};
	}
}

/*
* Creates a class for setting max-width by character count
* goes in fives, .max-ch-5 / .max-ch-10 etc
*/
$i: 0;

@while $i < 200 {
	$i: $i + 5;
	.max-ch-#{$i} {
		max-width: $i * 1ch;
	}
}
